/script_configs.ini
/drive_credentials.json
/sheet_credentials.json
AGNE CSVs/
'AGNE CSVs'/
Basket Analyses/
'Basket Analyses'/
Competitors/
Coop Deals/
'Coop Deals'/
gac/
Labor Source/
'Labor Source'/
Random Files/
'Random Files'/
UNFI/
/trans_target.csv